@import "bulma/bulma.sass";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,800");

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: whitesmoke;
}

nav {
  border-bottom: 1px solid #eee;
}

body > .nav {
  position: fixed;
  width: 100%;
}

body > .nav + section {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h4,
h5,
h6 {
  font-weight: 600;
}

.is-transparent {
  background: transparent;
}

.button.is-transparent:hover {
  border-color: #fff;
}
