.nav {
  .brand {
    .dark {
      display: inline-block;
    }

    .light {
      display: none;
    }
  }
}

.hero {
  background-color: #4c51a1;
  background-image: -webkit-linear-gradient(219deg, #4c51a1 0%, #353a84 100%);
  background-image: -moz-linear-gradient(219deg, #4c51a1 0%, #353a84 100%);
  background-image: -o-linear-gradient(219deg, #4c51a1 0%, #353a84 100%);
  background-image: linear-gradient(219deg, #4c51a1 0%, #353a84 100%);

  .title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 52px;
    font-weight: 100;

    span {
      font-weight: 600;
    }
  }

  .subtitle {
    font-size: 24px;
  }

  .brand {
    .dark {
      display: none;
    }

    .light {
      display: inline-block;
    }
  }

  .hero-body {
    .button {
      border-radius: 50px;
      padding: 0px 20px;
      margin: 0 3px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0px;
      height: 42px;
    }

    .button.is-primary {
      background: #FD76B2;
      box-shadow: 5px 5px 50px #e4498e;
    }
  }
}

.section.about {
  text-align: center;

  img {
    width: 100px;
  }

  h3 {
    font-size: 24px;
    margin-top: 10px;
  }

  p {
    margin-top: 15px;
  }
}

.section.apps,
.section.regions {
  text-align: center;

  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding: 0 60px 30px 60px;
    margin-bottom: 30px;
    display: inline-block;
  }

  p {
    margin-top: 30px;

    a {
      font-weight: 600;
    }
  }
}

.section.apps {
  background: whitesmoke;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  img {
    width: 60%;
  }
}

.menu.docs {
  .menu-list {
    li {
      ul {
        border-left: 1px solid #eee;

        li a {
          font-size: 90%;
        }
      }
    }
  }
}
