@import "bulma/bulma.sass";

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: whitesmoke;
}

nav {
  border-bottom: 1px solid #eee;
}

body > .nav {
  position: fixed;
  width: 100%;
}

body > .nav + section {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

// .menu-container.docs {
//   position: relative;
//   margin-top: 50px;
//   height: 100%;

//   .menu {
//     position: fixed;
//   }
// }

.menu.docs {
  .menu-list {
    li {
      ul {
        border-left: 1px solid #eee;

        li a {
          font-size: 90%;
        }
      }
    }
  }
}

.is-transparent {
  background: transparent;
}

.button.is-transparent:hover {
  border-color: #fff;
}

footer {
  position: relative;
  border-top: 1px solid #eee;
}

.content {
  a.permalink {
    color: inherit;
  }
}

// resetting bulma for prism themes
pre,
pre[class*="language-"] {
  padding: 0;
  border: 1px solid #eee;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 0.9rem;

  .tag {
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    color: auto;
    display: inline-block;
    font-size: 100%;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    vertical-align: top;
    white-space: nowrap;
  }

  .number {
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    font-size: 100%;
    height: auto;
    justify-content: center;
    margin-right: 0;
    min-width: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
  }
}
