<!DOCTYPE html>
<html>
  <head>
    <title>Multiple apps example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
