html,
body {
  height: 100%;
}

.editor-section {
  top: 10px;
  margin-bottom: 10px;
}

.editor-section,
.editor-section .columns,
.editor-column {
  position: relative;
  height: 100%;
}

.editor-column {
  border-right: 1px solid #eee;
}

.root-column {
  background: #fff;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
}
