<div class="menu-container docs">
  <aside class="menu docs">
    <p class="menu-label">
      Quickstart
    </p>

    <ul class="menu-list">
      <li><a href="/guides/hello-world">Hello World</a></li>
    </ul>

    <p class="menu-label">
      Packages
    </p>

    <ul class="menu-list">
      <li><a href="/docs/packages/frint">frint</a></li>
      <li><a href="/docs/packages/frint-model">frint-model</a></li>
      <li><a href="/docs/packages/frint-store">frint-store</a></li>
      <li><a href="/docs/packages/frint-react">frint-react</a></li>
      <li><a href="/docs/packages/frint-react-server">frint-react-server</a></li>
      <li><a href="/docs/packages/frint-test-utils">frint-test-utils</a></li>
      <li><a href="/docs/packages/frint-compat">frint-compat</a></li>
      <li><a href="/docs/packages/frint-cli">frint-cli</a></li>
    </ul>

    <p class="menu-label">
      Migration
    </p>

    <ul class="menu-list">
      <li><a href="/docs/migration/v1">Migrating to v1.x</a></li>
      <li><a href="/docs/migration/v2">Migrating to v2.x</a></li>
    </ul>

    <p class="menu-label">
      Contributing
    </p>

    <ul class="menu-list">
      <li><a href="/docs/contributing/maintainers">Maintainers guide</a></li>
    </ul>

    <p class="menu-label">
      Project
    </p>

    <ul class="menu-list">
      <li><a href="/docs/changelog">Changelog</a></li>
    </ul>
  </aside>
</div>
