<div class="menu-container docs">
  <aside class="menu docs">
    <p class="menu-label">
      Step by step guides
    </p>

    <ul class="menu-list">
      <li><a href="/guides/hello-world">Hello World</a></li>
    </ul>

    <p class="menu-label">
      Concepts
    </p>

    <ul class="menu-list">
      <li><a href="/guides/apps">Apps</a></li>
      <li><a href="/guides/providers">Providers</a></li>
      <li><a href="/guides/components">Components</a></li>
      <li><a href="/guides/regions">Regions</a></li>
      <li><a href="/guides/observables">Observables</a></li>
      <li><a href="/guides/higher-order-components">Higher-Order Components</a></li>
    </ul>

    <p class="menu-label">
      How TOs
    </p>

    <ul class="menu-list">
      <li><a href="/guides/state-management">State mangement</a></li>
    </ul>

    <p class="menu-label">
      Advanced
    </p>

    <ul class="menu-list">
      <li><a href="/guides/code-splitting">Code splitting</a></li>
    </ul>
  </aside>
</div>
