<div class="nav-left">
  <a href="/" class="nav-item brand">
    Frint
  </a>

  <a href="/docs" class="nav-item is-tab">
    Documentation
  </a>

  <a href="/tutorials" class="nav-item is-tab">
    Tutorials
  </a>
</div>

<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
<span class="nav-toggle">
  <span></span>
  <span></span>
  <span></span>
</span>

<!-- This "nav-menu" is hidden on mobile -->
<!-- Add the modifier "is-active" to display it on mobile -->
<div class="nav-right nav-menu">
<a href="https://github.com/Travix-International/frint" class="nav-item">
    GitHub
  </a>
</div>
