<div class="nav-left">
  <a href="/" class="nav-item brand">
    <img alt="Frint" class="dark" src="/img/frint-logo-7a7a7a.png" />
    <img alt="Frint" class="light" src="/img/frint-logo-fff.png" />
  </a>

  <a href="/docs" class="nav-item is-tab">
    Documentation
  </a>

  <a href="/guides" class="nav-item is-tab">
    Guides
  </a>

  <a href="/repl" class="nav-item is-tab">
    REPL
  </a>

  <a href="/about" class="nav-item is-tab">
    About
  </a>
</div>

<div class="nav-right">
  <div class="field nav-item">
    <p class="control has-icon">
      <input id="doc-search-text-box" class="input" type="text" placeholder="Search...">
      <span class="icon is-small">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
</div>
