{
  "extends": [
    "travix"
  ],
  "parser": "babel-eslint",
  "globals": {
    "describe": true,
    "document": true,
    "expect": true,
    "fetch": true,
    "Headers": true,
    "it": true,
    "window": true
  }
}
