<!DOCTYPE html>
<html>
  <head>
    <title>Multiple apps example</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  </head>

  <body>
    <div id="root"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.3/lodash.min.js"></script>

    <script src="./js/vendor.js"></script>
  </body>
</html>
